.env
.venv/
.venv/*
haze4k-t.zip
indoor-training-set-its-residestandard.zip
uv.lock

id_ed25519
id_ed25519.pub

id_rsa
id_rsa.pub

dataset/
dataset/*

data/__pycache__/
data/__pycache__/*

model/__pycache__/
model/__pycache__/* 

losses/__pycache__/
losses/__pycache__/*
losses/.ipynb_checkpoints/
losses/.ipynb_checkpoints/*

.ipynb_checkpoints/